<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>UPDATE MOVIE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input-data">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="users.title" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-input type="text" [(ngModel)]="users.author" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Ratings</ion-label>
      <ion-input type="number" [(ngModel)]="users.ratings" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Released</ion-label>
      <input type="date" [(ngModel)]="users.released">
    </ion-item>

    <ion-item>
      <ion-select label="Completed" interface="popover" placeholder="Select" [(ngModel)]="users.isCompleted">
        <ion-select-option value="true">True</ion-select-option>
        <ion-select-option value="false">False</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Genres" multiple="true" [(ngModel)]="users.genres">
        <ion-select-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="addBtn">
    <ion-button (click)="updateUser()">UPDATE</ion-button>
  </div>
</ion-content>
