<ion-header>
  <ion-toolbar>
    <ion-title>DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>
<div id="container">
  <h1>MOVIE WATCHLIST CRUD</h1>
  <div class="content" *ngFor="let user of userList">
    <div class="content-box">
      <div class="content-all">
        <h2>Title: {{user.title}} </h2>
        <h2>Author: {{user.author}} </h2>
        <h2>Ratings: {{user.ratings}} </h2>
        <h2>Released: {{user.released}} </h2>
        <h2>Completed: {{user.isCompleted}} </h2>
        <h2>Genres: {{user.genres}} </h2>
      </div>
      <div class="btn">
        <ion-button color="success" (click)="update(user)"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button color="danger" (click)="delete(user)"><ion-icon name="trash-outline" *ngIf="user.id"></ion-icon></ion-button>
      </div>
    </div>
  </div>

</div>


<div class="log-out-btn">
  <ion-fab-button (click)="logOut()">
    <ion-icon name="log-out" color="dark"></ion-icon>
  </ion-fab-button>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUser()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


