<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DEVELOPERS PORTFOLIO CONTENT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="Part_1">
    <div><img src="../../assets/image/imagePIC.jpg" class ="pic"></div>
    <h1><strong>HI! I am <span>Lance</span> Zedrick F. Atezado</strong></h1>
    <h2>I am a <span>student</span> in Pamantasan ng Lungsod ng Valenzuela City and<br> is currently pursuing the course <span>Information Technology</span>. </h2>
 
    <p>
      My <span>talent</span> consist of mainly drawing and can learn anything related to art at a quick pace. Sketching becomes my hobby as I can devote myself in many hours doing it. 
      Learning music is another hobby of mine because in year 2020 I bought my first guitar encouraged by my church leader. I am honing my skills in both of them so that I can
      give God glory and to showcase it someday to get a client. 
    </p>
  </div>


  <div id="Part_2">
          <h1>HOW DO YOU SEE YOURSELF IN 5 YRS?</h1>
          <p>I would like to see myself happy and contented in doing digital art. I am continuing to practice what I have learned and exploring what IT Industry holds.</p>

          <h1>STRENGTHS & WEAKNESS</h1>
          <p><span>STRENGTHS:</span> Patience, Perseverance</p>
          <p><span>WEAKNESS:</span> Lack of Patience,Short-Tempered</p>
        
          <div class="MOTTO">
            <p>Naniniwala ako sa kasabihan na pag nagana ang code, hindi mo na dapat galawin lo!</p>
          </div>
  </div>
 

  <div id="Funny">
      <h1>LOVE LANGUAGE MO? BAKIT?</h1>
      <p>My love language is Tagalog and English with a hint of physical touch</p>
      <h1>KUNG PAGKAIN KA ANO KA? BAKIT?</h1>
      <p>If I we're to be a food, I would be am Ice cream. It's because no matter how full you may be, you will always crave for me.</p>
  
    <div class="PET_PEEVE">
      <h2>PET PEEVE: being left on read or seen</h2>
    </div>
  </div>
  

</ion-content>
